[project]
name = "propogation-exporter"
version = "0.1.0"
description = "Systemd journal reader and exporter"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "systemd-python>=234",
    "dnspython==1.15.0",
    "PyYAML>=5.4.1,<6.0",
    "prometheus-client>=0.9.0,<1.0",
]
